body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gamja Flower", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import "tailwindcss";

@keyframes shuffleAnimation {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}

.shuffle {
  animation: shuffleAnimation 0.4s ease-in-out;
} 
